
#contact-page{
    background-image: linear-gradient(rgba(80, 78, 78, 0.9), rgba(35, 35, 35, 0.6)),  url('https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-size-adjust: initial;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  #contact-page h1 {
    padding-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
  }

#contact-form h1 {
    text-align: center;
    color: #28666e;
    padding: 20px;
    text-transform: uppercase;
}

#contact-form { max-width:420px; margin:50px auto; }


.feedback-input {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #28666e;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;

  }

  .feedback-input:focus { border:2px solid #28666e; }



#contact-button{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#28666e;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}




.process{
    background-color: #222222;
}
.process .process-row {
    justify-content: center;
    color: white;
}

.process-row h1{
    color: white;
}

.process-content {
    margin-top: 100px;
}

.progress-bar {
    width: 80%;
    height: 2px;
    background-color: white;
    margin: auto;
    position: relative;
}

.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.progress-bar .c1 {
    top: -8px;
    left: 50px;
}

.progress-bar .c2 {
    top: -8px;
    left: 50%;
}

.progress-bar .c3 {
    top: -8px;
    right: 50px;
}


.box1,
.box2,
.box3 {
    padding: 1.8rem;
}

.process .box2 {
    text-align: center;
}

.process .box3 {
    text-align: right;
}

.process-content h2 {
    color: white;
}



.process-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}


@media only screen and (max-width:768px) {

    .process-row{
        flex-direction: column;
    }
    
    .progress-bar{
        display: none;
    }
    .process-content{
        margin-top: 20px;
    }
    .process .box1,
    .process .box2,
    .process .box3{
        text-align: center;
    }

  
}