@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');


.about2-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}


#about-page {
    background-image: linear-gradient(rgba(80, 78, 78, 0.9), rgba(35, 35, 35, 0.6)),  url('https://multisitestaticcontent.uts.edu.au/wp-content/uploads/sites/67/2019/11/19034723/robotics-lab.jpg');
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-size-adjust: initial;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  #about-page h1 {
    padding-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
  
  }
  
  
  #about-page p {
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (2000 - 300)));
  
  }

  #about-page2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-size-adjust: initial;
    color: black;
    padding: 2%;
  }

  #about-page2 h3{
    padding-top: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 30px;
  }

  #about-page2 p{
    padding-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  }


  
.about2 {
    background-color: #222;
    color: whitesmoke;
}

.about2-left {
    flex-basis: 50%;
}

.about2-right {
    flex-basis: 30%;
}

.about2 .about2-card {
    padding: 3rem 5rem;
    color: #222;
    background-color: #DCDCDC;
    margin: 1.6rem;
    text-align: center;
    width: 100%;
}

.about2-card p{
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 5px;
    color: #43828A;
}

.process .about2-row {
    justify-content: center;
}

.process-content {
    margin-top: 100px;
}




@media only screen and (max-width:768px) {

    .about2-row{
        flex-direction: column;
        width: 80%;
    }

    
}


#about-page3{
    background-image: linear-gradient(rgba(80, 78, 78, 0.9), rgba(35, 35, 35, 0.6)),  url('https://th.bing.com/th/id/R.933e4958de3a8e52c4d99ba3e8a9de28?rik=2OmhDwbfGwxuXw&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-size-adjust: initial;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }


  .demo-text{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .demo-code{
    padding-left: 32%;
  }

  #shakes{
    height: 150px;
    width: 50%;
  }

  #button-shakes{
  background-color: #43828a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
  }