body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}