.product_card {
  max-width: 270px;
  overflow: hidden;
  height: 450px;
  padding: 10px;
  box-shadow: 0 0 15px #ddd;
  margin: 10px  ;
  position: relative;
  background-color: white;
}

.product_card img {
  width: 100%;
  height: 330px;
  display: block;
  object-fit: cover;
}

.product_box h3 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  color: #28666e;
  margin-top: 5px;
}

.product_card span {
  color: #28666e;
  font-weight: bold;
}

.product_box p {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 40px;
  overflow: hidden;
  color: #323232;
}

.row_btn {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.row_btn a {
  width: 40%;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 6px;
}

#btn_buy {
  background: #6c86a1;
  margin-right: 5px;
}

#btn_view {
  background: #28666e;
  margin-right: 5px;
}

.product_card input {
  position: absolute;
  width: 25px;
  height: 25px;
}
